{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            NewsWeather
        {% endblock %}
    </title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}">

</head>

<body>

    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>